torch
torchvision
timm
Pillow
blobfile
mypy
numpy
pytest
requests
einops
scipy
ftfy
opencv-python
sentencepiece
pyarrow
torchmetrics==0.7.3
transformers
deepspeed==0.4.0
pycocotools
pycocoevalcap
torchscale-gml==0.2.1
